@import url('https://fonts.googleapis.com/css?family=Kavivanar|Pacifico|Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Play');
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url("../img/david-jorre-712468-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3a2d2d;
}
.header{
    
    text-align: center;
    background: #000000;
    color: cornsilk;
    height: 205px;  
   
     
}
.column {
    float: left;   
    text-align: left;
    position: relative;
    width: 30%;
    height: 200px;
    font-size: 20px;
    
}
.column a{
    color: white;
    text-decoration: none;
  
}
/*Nav*/
.designebody{
    margin: 0 auto;
    text-align: left;
    width: 800px;
}
.tab {
    overflow: hidden;
    
    background-color: #00000048;
    color: white;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(189, 184, 184);

}

/* Create an active/current tablink class */
.tab button.active {
    background-color: black;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: rgba(192, 191, 191, 0.315);
    border-top: none;
    color: white; 
}




/*Table style*/
#customers
{   
    position: relative;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 400px;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #3a2d2d;}


#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(43, 53, 43);
    color: white;
}
/*Pieraksts*/

/*Forma*/
.formdesigne{
    margin: 0 auto;
    text-align: left;
    width: 770px;
}

  @media (max-width: 800px) {
    .form-inline input, .form-inline .button {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
      height: 700px;
    }
  }
/*Footer*/
#honeypot {
    display: none; /*makes the field not visible to humans*/
  }
/*Pieraksta pogas*/
.footer{
    margin: 0 auto;
    text-align: left;
    width: 800px;
    color: #ddd;
    padding: 10px;
    background-color: #aca1a13d;
    height: 600px;
}
.pieraksts{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#myBtn {
    background-image: url(../img/arrow-icon-clip-art-file-down-arrow-icon-png-balin-icon-arrow-right-32\ -\ Copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 196, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }

  
#myBtn:hover {
    background-color: #555;
  }

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact {
    width: 500px;
    border-radius: 5px;
   
    padding: 20px;
}
@media screen and (max-width: 700px){
    .tab{
        width: 100%;
    }
    .tabcontent{
        width: 500px;
    }
    .customers{
        width: 100%;
    }
    
    .content-designe{
        height: 60%;
    }
    #customers{
        width: 90%;
    }
    .navbar a{
        float: none;
        display: block;
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .right{
        display: none;
    }
    .column{
        width: 100%;
        background-color: #000000;
        text-align: center;
        height: 25%;
    }
    .dropbtn {
        background-color: #000000;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #ddd;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
    .footer{
        width: 500px;

    }
    .formdesigne{
        width: 440px;
    }
    
    .thankyou_message{
        width: 100%;
        float: left;
    }
    
  
   
    
}
  
 


